body {
  font-family:"Arial";background-color:dimgrey;
  
}
p {
  color:lightgrey;text-decoration:underline;text-align:left;
}


h1 { color: aliceblue;}
h2{ color:aliceblue;}
img {height: 200px;width: 300px; border: 5px solid white; } 
strong{ color:coral;}
table, th, td { border:1px solid black;border-collapse: collapse}
th, td{ padding: 10px; color: aliceblue;}
th{ text-align: left;background-color: black;color: aliceblue;}
h3 { text-align: center; color: aliceblue;}
h4 { text-align: left; color:aliceblue;}
h5{ color: aliceblue; font-size: 30px;}
h6{ color: aliceblue; font-size: 30px;}
h7{ color: aliceblue; font-size: 30px;}