.row{

    background-color:black;
    color:white;
    font-size:20px;
    display:flex;
    justify-content:space-around;

}
#name:hover{
    background-color:grey;
    padding:10px;
}
#about:hover{
    background-color:grey;
    padding:10px;
}
#portfolio:hover{
    background-color:grey;
    padding:10px;
}
#contact:hover{
    background-color:grey;
    padding:10px;
}

.headshot{
    width:20%;

}
.mid{
    background-color:white;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
}
.aboutme{
    border:1px solid black;
    min-height: 700px;
    min-width: 1050px;
    animation-name: example;
    animation-duration: 10s;
    background-image:url("Manhattan.jpg");
}

@keyframes example {
  25%   {background-image:url("Manhattan.jpg");}
    50%  {background-image:url("MCCbanner.jpg");}
     75%  {background-image:url("ManSquare.jpg");}
     100%  {background-image:url("sunset.jpg");}

}
a{
    color:white;
    text-decoration:none;
}