.row{   

    background-color:black;
    color:white;
    font-size:20px;
    display:flex;
    justify-content:space-around;
    
}
#name:hover{
    background-color:grey;
    padding:10px;
}
#about:hover{
    background-color:grey;
    padding:10px;
}
#porfolio:hover{
    background-color:grey;
    padding:10px;
}
#contact:hover{
    background-color:grey;
    padding:10px;
}

.headshot{
    width:20%;
   
}
.mid{
    background-color:white;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
}
.aboutme{
    border:1px solid black;   
    min-height: 700px;
    min-width: 1050px;
    animation-name: example;
    animation-duration: 10s;
    background-image:url("http://getwallpapers.com/wallpaper/full/a/1/e/898705-gorgerous-nice-pictures-for-background-1920x1200-1080p.jpg");
}

@keyframes example {
  25%   {background-image:url("http://getwallpapers.com/wallpaper/full/a/1/e/898705-gorgerous-nice-pictures-for-background-1920x1200-1080p.jpg");}
    50%  {background-image:url("https://cn.pling.com/img/5/7/2/d/8bc8ce2fb80ebe65aa3aac9f38e4950483d4.jpg");}
     75%  {background-image:url("https://img.memecdn.com/a-nice-image-of-a-sunset_o_6847379.jpg");}
     100%  {background-image:url("https://img00.deviantart.net/bac3/i/2013/309/a/3/manhattan_night_by_vanessaxgisel-d6t5zhp.jpg");}
   
}